<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur pariatur debitis error nobis <span class="tooltip" appTooltip="Here's a tooltip for you">ex vero recusandae</span> reiciendis! Magni et magnam cumque praesentium? Eum consequatur ut totam sequi asperiores. <span class="tooltip" [appTooltip]="myTooltipContent">Laboriosam?</span></p>

<ng-template #myTooltipContent>
  <h1>Something</h1>
  <ul>
    <li>Blah</li>
    <li>Blah</li>
    <li>Blah</li>
  </ul>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus similique commodi, tempora explicabo molestiae minima nesciunt est repellat recusandae, natus nulla eos sapiente et hic sequi exercitationem quia at? Accusamus.</p>
</ng-template>